

body{overflow-x:hidden;font-family: 'VT323', monospace;font-size:20px;background: #6B88FF;}
b, span{display:block;}
b{margin-bottom:15px;font-size:30px;}
#floor{position: absolute;background:url('img/floor.png');bottom: 0;width: 100%;left: 0;height: 106px;}
#scroll{display:flex; image-rendering: crisp-edges;position:fixed;top:0;bottom:106px;width:6125px;background:url('img/background.png');background-position:left bottom;background-repeat:no-repeat;background-size:auto 100%;}
#mario{background-image:url('img/mario.png?v=2');background-position:top left;background-repeat:no-repeat;position:fixed;z-index:9999;bottom:106px;left:50%;margin-left:-30px;width:65px;height:129px;background-blend-mode: color;}
.box{font-size: 1.15rem;  position:relative;float:left;padding:20px;margin-left:10px;top:50%;margin-top:-200px;width:300px; height: max-content; background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );}
#btn_left{font-size:80px;color:white;position:fixed;left:0;bottom:-25px;cursor:pointer;}
#btn_right{font-size:80px;color:white;position:fixed;right:0;bottom:-25px;cursor:pointer;}


.container {
    margin-left: 50px;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timerBox {
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: goldenrod;
    border-radius: 20%;
    border: 1px solid salmon;
    color: brown;
}

.actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.buttonClass {
    border: 1px solid white;
    background-color: black;
    color: white;
    margin: 10px;
    cursor: pointer;
}
